{% extends 'view.html' %}

{% block title %}
	profile
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/terminal.css') }}">
{% endblock %}

{% block body %}
    <div style="background-color: black; color: lime;" id="terminal">
	    <h5>Welcome to Web Terminal!<br></h5><h5>--->Type help to see all avlible commands</h5><br>
        {% if data.length != 0 %}
            {% for command_output in data %}
                <div class="line">
                    <span class="prompt">$</span>
                    <span>{{ command_output[0] }}</span>
                </div>
                <div class="line">
                    <span class="prompt"></span>
                    <span style="white-space:pre;">{{ command_output[1] }}</span>
                </div>
            {% endfor %}
        {% endif %}
	    <div class="input-line">
		    <span class="prompt">$</span>
		    <input type="text" id="userInput" autofocus>
	    </div>
    </div>
{% endblock %}

{% block script %}
	<script src="{{ url_for('static',filename='js/script.js') }}"></script>
{% endblock %}
